@media (max-width:1350px) {
    .container {
        width: 70%;
    }
}

@media (max-width:1025px) {
    .container {
        width: 100%;
        position: relative;
    }

    .cart {
        float: left;
    }
}